.sidebar {
  width: 10%;
  height: 100%;
  float: right;
  background-color: #DF91BA;
  color: #6181CD;
  font-family: monospace;
  font-size: 18px;
  top: 0px;
  margin-left: 20px;
}

.sidebar ul:hover{
  color: #000;
}

.eighties {
  color: #000;
  text-align: left;
  list-style: circle;
}

.eighties ul {
  list-style: circle;
  color: #DD91DF;
  font-size: 20px;
  font-weight:lighter;
}

.cheers {
  color: #BADF91;
}

.cheers:hover {
  color: #DD91DF;
}

.golden-girls {
  color: #FFC300;
}

.golden-girls:hover {
  color: #82E0AA;
}

.boss {
  color: #DF9193;
}

.boss:hover {
  color: #DFDD91;
}

.column{
  text-align: justify;
}

body {

  font-family: 'El Messiri', sans-serif;
  margin: 20px;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(45deg, #FFF 50%, #FFCCFA 50%);
  min-height: 500px;
  text-align: center;
}

body p{
  text-align: justify;
}

img {
  float: center;
}

ul {
  text-align: left;
}
